<head>
    <link rel="stylesheet" href="/css/cooking101Style.css">
    
</head>

<!-- Weekly Calendar -->
<section class="cooking101-section">
    <h2>Cooking 101</h2>

    <h3>Recommended Sources:</h3>
    <ul id="links">
        <li><a href="https://www.youtube.com/@TheJenGLV" target="_blank">TheJenGLV</a></li>
        <li><a href="https://www.youtube.com/watch?v=mGSRakRS_J8&t=219s&ab_channel=BabishCulinaryUniverse" target="_blank">10 Kitchen Tips I Wish I'd Known (ft. Sienna Mae Gomez) | Basics with Babish</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLYG6O_GQCZwjetsTY9AzFDuPuzN37Rq9U" target="_blank">Cooking 101 by NYT Cooking</a></li>
        <li><a href="https://oldguykitchen.com/cooking-101/" target="_blank">Old Guy in the Kitchen</a></li>
        <li><a href="https://www.youtube.com/watch?v=aopS3q6f1GY&ab_channel=Epicurious" target="_blank">Cooking Tips For Kitchen Beginners | Epicurious 101</a></li>
        <li><a href="https://www.reddit.com/r/Cooking/" target="_blank">Reddit r/Cooking</a></li>
    </ul>
    
    <p>Can't find anything? Google it!</p>
        <form action="https://www.google.com/search" method="GET" target="_blank">
            <input type="text" name="q" class="search-bar2" placeholder="Search Google..." required>
            <button type="submit" class="search-btn2">Search</button>
        </form>
    
</section>
