<head>
    <link rel="stylesheet" href="/css/favoritesPageStyle.css">
</head>

<body>
    <section>
        <h1>Your Favorite Recipes</h1>

        <div class="recipe-cards">
            <!-- The recipe cards will be dynamically populated by JavaScript -->
        </div>
    
        <!-- Pagination Controls will be rendered dynamically by JavaScript -->
        <div class="pagination-container" style="text-align: center; margin-top: 20px;"></div>
    
    </section>
    
    <script src="/js/favorites.js" defer></script>
</body>
